body
{
  background-color:White; 
  font-family: verdana; 
  font-size:11px;
  color:#3F3F3F; 
}

a
{
  color:#0c4765;
  text-decoration:none;
}

a:hover
{
  color:#58b8ae;
  text-decoration:underline; 
}

.ImgLink
{
	cursor: hand;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	text-decoration: none;
	border-bottom-style: none;
}

.Error
{
	width: 100%;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: red;
}

.Login
{
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.Logo
{
	border-top: silver 1px solid;
	border-bottom: silver 1px solid;
	font-weight: bold;
	font-size: 11px;
	color: white;
	font-family: Verdana;
	background-color: #ffffff;
}

.LogoTitle
{
	border-top: silver 1px solid;
	border-bottom: silver 1px solid;
	font-weight: bold;
	font-size: 18px;
	color: white;
	font-family: Verdana;
	background-color: #0c4765;
}

.LogoTitleBottom
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	height:5px;
}

.Button
{
	background-image: url(../images/button.gif);
	padding-right: 2px;
	padding-left: 2px;
	font-weight: normal;
	color: #0c4765;
	font-weight: bold;
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
	border-left: silver 1px solid;
	border-top: silver 1px solid;
	width: 100px;
	height: 20px;
}

.PageHeader
{
	border-right: silver 1px solid;
	border-top: silver 0px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	background-color: #EEEEEE;
}

.PageTitle
{
	font-weight: bold;
	font-size: 11px;
	color: #0c4765;
	font-family: Verdana;
	text-align:left;
	vertical-align:middle;
	padding-left: 10px;
}

.TableLabel
{
	height: 20px;
	font-size: 11px;
	font-family: Verdana;
	padding-left:10px;
	color: #0c4765;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
}

.TableLabel2
{
	height: 20px;
	font-size: 11px;
	font-family: Verdana;
	padding-left:10px;
	color: #0c4765;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
	border-left: silver 1px solid;
}

.TableLabel3
{
	font-weight: bold;
	font-size: 11px;
	color: #0c4765;
	font-family: Verdana;
	text-align:left;
	vertical-align:middle;
	padding-left: 10px;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
}

.TableLabelError
{
	height: 20px;
	font-size: 11px;
	font-family: Verdana;
	padding-left:10px;
	color: red;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
}

.TableField
{
	height: 20px;
	border-bottom: silver 1px solid;
}

.TableFixedField
{
	height: 20px;
	font-size: 11px;
	font-family: Verdana;
	color: #0c4765;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
}

.TableButtons
{
	text-align: right;
	vertical-align:middle;
	height: 25px;
}

.NavigationButtons
{
	text-align: left;
	padding-left: 10px;
	vertical-align:middle;
}

.NavigationLinks
{
	vertical-align:middle;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	text-decoration: none;
	border-bottom-style: none;
}

.AttachmentsForm
{
	color: #0c4765;
	background-color: #f0f0f0;
}

.AttachmentsLabel
{
	color: #0c4765;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 0px solid;
}

.AttachmentsLabelLastCell
{
	color: #0c4765;
	background-color: #f0f0f0;
	border-bottom: silver 1px solid;
	border-right: silver 0px solid;
	border-top: silver 1px solid;
	border-left: silver 0px solid;
}

.AttachmentsField
{
	color: #0c4765;
	background-color: #ffffff;
	border-bottom: silver 0px solid;
	border-right: silver 1px solid;
	border-top: silver 0px solid;
	border-left: silver 0px solid;
}

.AttachmentsFieldLastCell
{
	color: #0c4765;
	background-color: #ffffff;
	border-bottom: silver 0px solid;
	border-right: silver 0px solid;
	border-top: silver 0px solid;
	border-left: silver 0px solid;
}

.FilterTable
{
	border-bottom: silver 0px solid;
	border-right: silver 0px solid;
	border-top: silver 0px solid;
	border-left: silver 0px solid;
}

.EditTable
{
	border-bottom: silver 1px solid;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
}

.TxtBox
{
	background-color: #FFFFFF;
	font-size: 10px;
	height: 12px;
	font-family: "Verdana",monospace;
	padding: 2px;
}

.TxtInputBox
{
	background-color: #FFFFFF;
	height: 21px;
	width: 350px;
	font-family: "Verdana",monospace;
	padding: 2px;
}

.TxtBoxArea
{
	background-color: #FFFFFF;
	font-size: 10px;
	font-family: "Verdana",monospace;
	padding: 2px;
}

.DropList
{
	font-family: "Verdana" ,monospace;
	background-color: #ffffff;
}

.ChkBox
{
	background-color: #FFFFFF;
	font-size: 10px;
	height: 11px;
	font-family: "Verdana",monospace;
	padding: 2px;
}

.NewsBoxTitle
{
	font-size: 11px;
	font-weight:bold;
	color:#0c4765;
}

ol
{
  list-style-image: none;
  list-style-type:decimal;
  list-style-position:inside; 
  margin-left:5px; 
  padding-left:5px; 
  margin-top:5px; 
}

h1
{
  font-family: verdana; 
  font-weight:bold;
  font-size:18px; 
  color:#3F3F3F;
  margin-top:10px; 
  margin-bottom:40px; 
}

h2
{
  font-family: verdana; 
  font-weight:bold;
  font-size:18px; 
  color:#3F3F3F;
  margin-top:15px; 
  margin-bottom:15px; 
}

h3
{
  font-family: verdana; 
  font-weight:bold;
  font-size:10px; 
  margin-top:2px; 
  margin-bottom:2px; 
}

.TopNavLink
{
  font-size:10px;
  color:#3F3F3F; 
}


.WelcomeTitle
{
  font-family: verdana; 
  font-size:23px;   
  font-weight:900; 
  letter-spacing:-0.2mm;
  margin-top:10px; 
  margin-bottom:20px; 
}

.MainText
{
  font-size:11px; 
  height:100%;
}

.SmallText
{
  font-size:10px; 
}

.hint
{
  color:Red;
}
.DemoContainer
{
  border:1px silver solid; 
  background-color:#F6F6F6;
  height:530px;
  width:100%;
}
.DemoArea
{
  background-color:#F6F6F6;
}

.AboutBox
{
  background-color:#FFFFFF; 
  color: #666666; 
}

.SidePanelFooter
{
  height:100%;
  background-image:url(images/sidepanel_bg.gif);
  background-repeat: repeat-y; 
}

.SidePanel
{ 
  background-color:#F3F3F3;
  font-size:10px;
  color:#666666;
  border: 1px solid #aaaaaa;
} 
.DottedLine
{
  background-image:url(images/dot_even.gif);
  background-repeat: repeat-x; 
}

.DemoName
{
  color:#666666;
  font-family: verdana; 
  font-weight:bolder;
  font-size:11px;
}

.OtherDemos
{
  background-color:#FFFFFF;
  padding:10px;
  padding-top:8px;
  padding-right:5px;
  padding-bottom:0px;
  font-family: tahoma, verdana; 
  border-right: 1px solid #DDDDDD; 
  font-size: 10px; 
  font-weight: bold;
  font-size:11px; 
  color:#666666;
}

.OtherDemosIcons
{
  background-color:#FFFFFF;
  font-family: verdana; 
  font-weight: normal;
  font-size: 11px; 
  color:#DD3409;
  padding-bottom:5px;
}

.DemoBottomGradient
{
  color:#666666;
  background-image:url(images/demo_bottom_bg.gif);
  background-repeat: repeat-x; 	
  font-family: verdana; 
  font-weight:bold;
  font-size:10px; 
  padding-left:15px;
}

.DemoGradient
{
  color:#999999;
  background-image:url(images/demo_bg.gif);
  background-repeat: repeat-x; 	
  font-family: verdana; 
  font-weight:bold;
  font-size:11px; 
  padding-left:15px;
}
.SideNotes
{ 
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
} 

.DemosNav
{
  background-color:#F3F3F3;
  cursor: default; 
  height:330px;
  width:208px;
  padding:0px;
} 

.NavTopItem
{
  cursor: pointer;
  color:#666666;
  background-image: url(images/nav_bg.gif);
  font-family: verdana; 
  font-size: 11px; 
  font-weight: bold;
  cursor:hand;
  padding:0px;
  border-bottom: 1px solid #dddddd;
}

.NavTopItemHover
{
  cursor: pointer;
  color:#666666;
  text-decoration: underline;
  background-image: url(images/nav_bg.gif);
  font-family: verdana; 
  font-size: 11px; 
  font-weight: bold;
  cursor:hand;
  padding:0px;
  border-bottom: 1px solid #dddddd;
}

.NavTopItemActive
{
  cursor: pointer;
  color:#666666;
  background-image: url(images/nav_bg.gif);
  font-family: verdana; 
  font-size: 11px; 
  font-weight: bold;
  padding: 0px; 
  cursor:hand;
  padding:0px;
  border-bottom: 1px solid #dddddd;
}

.NavLevel2Item
{
  cursor: pointer;
  font-family: verdana; 
  font-size: 10px; 
  color:#666666;
  height:15px;
  background-color: #EEEEEE;
  cursor:hand;
  padding-top:2px;
  padding-bottom:2px;
  margin-left:1px;
}

.NavLevel2ItemSelected
{
  cursor: pointer;
  background-color:#F7F7F7;
  color: #DD3409;
  font-family: verdana; 
  font-size: 10px; 
  cursor:hand;
  padding-top:1px;
  padding-bottom:1px;
  margin-left:0px;
  border-left:1px solid #DDDDDD;
  border-top:1px solid #DDDDDD;
  border-bottom:1px solid white;
  border-right:1px solid white;
}

.NavLevel2ItemHover
{
  cursor: pointer;
  background-color:#F7F7F7;
  color: #666666;
  font-family: verdana; 
  font-size: 10px; 
  cursor:hand;
  padding-top:1px;
  padding-bottom:1px;
  margin-left:0px;
  border-right:1px solid #DDDDDD;
  border-bottom:1px solid #DDDDDD;
  border-top:1px solid white;
  border-left:1px solid white;
}

.NavLevel2Group
{
  cursor: default;
  background-color:#EEEEEE;
  border-bottom: 1px solid #dddddd;
  padding-left:3px;
  padding-right:3px;
  padding-top:3px;
}

.Empty
{
}

input
{
  font-family: verdana; 
  font-size: 11px; 
}  

select
{
  font-family: Verdana; 
  font-size:11px;
}


.linkpadrao
{
	text-decoration:none;
	font-family:Verdana;
	color:#4345FE;	
}

.linkpadrao:hover
{
	text-decoration:none;
	font-family:Verdana;
	color:#4345FE;
}

.linkpadrao:visited
{
	text-decoration:none;
	font-family:Verdana;
	color:#4345FE;
}
