.TopGroup
{
  z-index:99;
  position:relative;
}

.DefaultTab 
{
  color:black; 
  background-image: url(../images/tabstrip/tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(../images/tabstrip/hover_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.SelectedTab 
{
  color:black; 
  background-image: url(../images/tabstrip/selected_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.MultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:100%;
  
  position:relative;
  top:-2px;
  z-index:98;
}