<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate, Version=3.0.0.4000, Culture=neutral, PublicKeyToken=aa95f207798dfdb4"/>
	</configSections>
	<appSettings>
		<add key="HBM_ASSEMBLY" value="Marinha.Business"/>
		<add key="EmailSender" value="cassioam@terra.com.br"/>
		<add key="ErrorEmail" value="cassioam@terra.com.br"/>
		<add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;"/>
		<add key="DundasResourceHandler" value="~/temp/r.aspx"/>		
		<add key="Provider" value="3"/>
		<add key="ConnectionTimeOut" value="120"/>
		<add key="TipoPA" value="1"/>
    <!--<add key="ConnectionString" value="data source=DESKTOP-FNHTNKK\SQLEXPRESS2008;Integrated Security=SSPI;Initial Catalog=SisGesconEvolution; Pooling=True; Min Pool Size=0; Max Pool Size=100;"/>-->
    <add key="ConnectionString" value="data source=DESKTOP-FNHTNKK\SQLEXPRESS2008; Initial Catalog=SisGesconEvolution; user id=sa; password=jorge; Pooling=True; Min Pool Size=0; Max Pool Size=100;"/>
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.connection_string">data source=DESKTOP-FNHTNKK\SQLEXPRESS2008; user id=sa; password=jorge; Integrated Security=SSPI;Initial Catalog=SisGesconEvolution;Pooling=True; Min Pool Size=0; Max Pool Size=100;</property>
      <!--<property name="connection.connection_string">data source=DESKTOP-FNHTNKK\SQLEXPRESS2008; user id=jorge;password=jorge;Initial Catalog=SisGesconEvolution;Pooling=True; Min Pool Size=0; Max Pool Size=100;</property>-->
      <property name="dialect">Marinha.Business.MsSql2000Dialect,Marinha.Business</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    </session-factory>
  </hibernate-configuration>
	<connectionStrings>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="smtp.terra.com.br" port="25" userName="cassioam@terra.com.br" password="" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<httpRuntime maxRequestLength="51200"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--

            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="Default.aspx" name=".ASPXFORMSAUTH" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false" cookieless="UseDeviceProfile" domain="">
			</forms>
			<!-- protection="[All|None|Encryption|Validation]" -->
			<!-- cookieless="[UseUri | UseCookies | AutoDetect | UseDeviceProfile]" -->
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<!--<httpModules>
      <add name="CurrentSessionModule" type="ApplicationManagement.CurrentSessionModule" />
    </httpModules>-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add assembly="Anthem" namespace="Anthem" tagPrefix="Anthem"/>
				<add assembly="Shared.AnthemExtensions" namespace="Anthem" tagPrefix="Anthem"/>
			</controls>
		</pages>
		<globalization culture="pt-BR" uiCulture="pt-BR"/>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="Default.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="LargeBuffer" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ControleBordoServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="ControleBordoServiceBehavior" name="ControleBordoService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeBuffer" contract="IControleBordoService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>

